* {
	border: 0;
	margin: 0;
}
body {
	margin: auto;
	padding: 10px;
	width: 950px;
	height: 100%;
/*	min-width: 100%;
	min-height: 100%;*/
	background-color: #3d4d5c;
	color: lightblue;
}
body > div {
	height: 300px;
/*	border: 2px solid white; */
	border-radius: 10px;
}
#header {
	height: 80px;
	width: auto;
	background-color: red;
	margin-top: -31.5px;
}
#header h1 {
	position: relative;
	top: 20px;
	margin: 31.5px;
}
#main {
	height: 580px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#main > div {
	border-radius: 10px;
}
#navigation {
	padding: 10px;
	display: inline-block;
	width: 180px; 
	height:204px;
	background-color: #219ac7;
	vertical-align: top;
	margin-right: 10px;
}
/*#navigation > a {
	margin-left: 20px;
}*/
#navigation ul {
	margin-left: -22px;
}
#navigation a {
	color: lightblue;
}
#content {
	display: inline-block;
	width: 680px; 
	height:550px;
	background-color: black;
/*	position: relative;*/
	margin-left: 10px;
	float: right;
	color: lightblue;
	padding: 20px;
}
#content h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
#content ul {
	padding-left: 15px;
	margin-top: 10px;
}
#content li {
	font-size: 15px;
}
#content a {
	color: lightblue;
}
#footer {
	height: 50px;
	background-color: grey;
	float: bottom;
}
#footer p {
	color: lightblue;
	position: relative;
	top: 15px;
	margin: 15px;
}
#footer a {
	color: lightblue;
}
strong {
	color: purple;
	font-weight: none;
}